<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="POST" action="/Signup">
    <label for="FirstName">FirstName:</label><br>
    <input type="text" name="fname" id="FirstName" placeholder="Enter the Fname"><br>
   
    <label for="lasttName">LastName:</label><br>
    <input type="text" name="lname" id="lasttName" placeholder="Enter the Fname"><br>
   
    <label for="Uname">uname:</label><br>
    <input type="text" name="uname" id="Uname" placeholder="Enter the Fname"><br>
   
    <label for="EmailName">email:</label><br>
    <input type="text" name="email" id="EmailName" placeholder="Enter the Fname"><br>
   
    <label for="Phone">phone:</label><br>
    <input type="text" name="phone" id="Phone" placeholder="Enter the Fname"><br>
   
    <label for="password">password:</label><br>
    <input type="text" name="password" id="password" placeholder="Enter the Fname"><br>
    <label for="password">password:</label><br>
    <input type="text" name="cpass" id="password" placeholder="Enter the Fname"><br>

    <button type="submit">Submit</button>
   </form> 
</body>
</html>